<!DOCTYPE html>
<html land="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8">
    <title>{% block title %}MyBlog{% endblock %}</title>
</head>
<body style="background: whitesmoke !important;">

    <div class="row" id='blogApp'>

        <div class="col-md-4" id="navbar">
            <div class="panel panel-default">
                {% if index %}
                <div class="panel-header">
                    <h1 class='page-header'>&nbsp;&nbsp;MyBlog</h1>
                </div>
                <br />
                <div class="panel-body">
                    <ul>
                        <li><a href='/'>Home</a></li>
                        <li><a href='/archive'>archive</a></li>                            <li><a href='/about'>about</a></li>
                    </ul>
                </div>
                {% else %}
                <div id='post-summary' style="margin-left: 15px;">
                    <div class='page-header'>
                        <h1>{{post.title}}</h1>
                        <small>{{post.created}}</small>
                    </div>
                    <p>{{post.summary}}</p>
                    <ol class="breadcrumb">
                            <li><a href='/'>Home </a></li>
                            <li class='active'><a href='/post/{{post.slug}}'>{{post.title}}</a></li>
                    </ol>
                </div>
                {% endif %}

            </div>
        </div>

        <br />
        <div class="col-md-6" id="content">
            {% block content %}
                This is a fallback text
            {% endblock %}
        </div>
    </div>
</body>
</html>